@media screen and (max-width: 630px) {
    /* HEADER RESPONSIVO */
    header {
        height: 27vh;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    header .rigthside{
        flex-wrap: wrap;
        width: 70vw;
    }
    /* FIM DO HEADER RESPONSIVO */

    /* AREA DO BANNER / TITULO RESPONSIVO */
    main .home{
        flex-direction: column;
    }

    main .home .impactText span{
        width: auto;
        font-size: 14vw;
    }

    main .home .impactImage img{
        width: 98vw;
        height: 35vh;
    }
    /* FIM DO BANNER / TITULO RESPONSIVO */

    /* INICIO BOAS VINDA RESPONSIVO */
    main .welcome{
        width: 100vw;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    main .welcome .welcomeText .mainText{
        width: 95vw;
    }

    main .welcome .welcomeText .enterpriseName{
        width: 95vw;
        flex-direction: column;
        flex-wrap: wrap;
    }

    main .welcome .welcomeText p{
        width: 90vw;
    }

    main .welcome .welcomeImage img {
        width: 98vw;
        height: 30vh;
        margin-left: 11.8rem;
    }
    /* FIM BOAS VINDAS RESPONSIVO */

    /* INICIO SOBRE NÓS RESPONSIVO */
    main .aboutus{
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }

    main .aboutus .enterpriseMission{
        flex-direction: column;
        flex-wrap: wrap;
        width: 95vw;
    }

    main .aboutus .enterpriseMission .mission{
        width: 90vw;
    }

    main .aboutus .enterpriseMission .vision{
        width: 90vw;
    }

    main .aboutus .enterpriseMission .values{
        width: 90vw;
    }

    main .aboutus .phraseAboutUs{
        width: 90vw;
    }
    /* FIM SOBRE NÓS RESPONSIVO */

    /* INICIO NOSSO TIME RESPONSIVO */
    main .OurTeam{
        text-align: center;
        width: 98VW;
    }

    main .OurTeam .ourTeamTitle{
        font-size: 3rem;
    }

    /* RESPONSIVIDADE DA PRIMEIRA LINHA DO TIME */
    main .OurTeam .firstLineImage{
        flex-wrap: wrap;
    }
    /* FIM DA RESPONSIVIDADE DA PRIMEIRA LINHA DO TIME */

    /* FIM DA RESPONSIVIDADE NOSSO TIME */

    /* INICIO RESPONSIVIDADE FALE COM A GENTE */
    main .contactUs{
        text-align: center;
    }

    main .contactUs .howContatUS{
        flex-direction: column;
    }

    main .contactUs .howContatUS .location{
        margin-bottom: 2rem;
    }

    main .contactUs .howContatUS .location span{
        font-size: 1.23rem;
    }

    main .contactUs .howContatUS .cellphone{
        margin-bottom: 2rem;
    }
    main .contactUs .howContatUS .cellphone span{
        font-size: 1.23rem;
    }

    main .contactUs .howContatUS .email{
        margin-bottom: 2rem;
    }

    main .contactUs .howContatUS .email span{
        font-size: 1.23rem;
    }
    /* FIM DA SESSÃO DE FALE COM A GENTE */

    /* ARRUMANDO RODAPÉ */
    footer {
        font-size: 0.9rem;
    }
    /* FIM DA TELA INICIAL - INDEX - RESPONSIVIDADE */

    
}